<h3>About reubano</h3>
<p>
  My name is Reuben Cummings. I studied chemical engineering at 
  <a href="http://web.mit.edu">MIT</a>. I've worked at 
  <a href="http://www.midior.com">MIDIOR</a> and 
  <a href="http://www.gcstz.com">GCS</a>. I currently live in 
  <a href="http://goo.gl/maps/eula2">Arusha, Tanzania</a> where I develop 
  <a href="{{root_href}}/projects">web applications</a>.
  <a href="{{root_href}}/about">Read more...</a>
</p>
