<table class="table table-default">
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th class="numeric">Day</th>
      <th>Title</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody id="title-list"></tbody>
</table>
