<ul class="pager">
  <li class="previous {{#if first}}disabled{{/if}}">
    <a href="{{prev_href}}">&larr; Previous {{type}}</a>
  </li>
  <li class="next {{#if last}}disabled{{/if}}">
    <a href="{{next_href}}">Next {{type}} &rarr;</a>
  </li>
</ul>
