<table class="table">
  <thead>
    <tr>
      <th>Views</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody id="">
    <tr>
      <td>{{views}}</td>
      <td>{{{dms_str}}}</td>
    </tr>
  </tbody>
</table>
