<div class="text-center">
  <div class="btn-group">
    <button type="button" class="btn btn-default">
      <div class="lead">{{views}}</div><div>Views</div>
    </button>
    <button type="button" class="btn btn-default">
      <div class="lead">{{{dms_str}}}</div>
      <div>Location</div>
    </button>
    <button type="button" class="btn btn-default">
      <div class="lead">{{width_o}}x{{height_o}}</div><div>Dimensions</div>
    </button>
  </div>
</div>