<div class="col-xs-6 col-sm-4 gallery-item">
  <div class="thumbnail">
    <a href="{{href}}">{{partial 'project-image' url_sq}}</a>
    <div class="caption">
      <p><a href="{{href}}">{{title}}</a></p>
    </div>
  </div>
</div>
