<table class="table">
  <thead>
    <tr>
      <th>Stars</th>
      <th>Forks</th>
      <th>Version</th>
      <th>Environment</th>
      <th>Languague</th>
    </tr>
  </thead>
  <tbody id="">
    <tr>
      <td>{{stargazers_count}}</td>
      <td>{{forks}}</td>
      <td>1.0.3</td>
      <td>web</td>
      <td>{{language}}</td>
    </tr>
  </tbody>
</table>
