{{#if recent_posts}}
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    {{#each recent_posts}}
      <li class="post">
        <a href="{{root_url}}{{url}}">{{title}}</a>
      </li>
    {{/each}}
  </ul>
{{/if}}