{{#if related_posts}}
  <h1>Related Posts</h1>
  <ul id="related_posts">
    {{#each related_posts}}
      <li class="post">
        <a href="{{root_url}}{{url}}">{{title}}</a>
      </li>
    {{/each}}
  </ul>
{{/if}}