<div id="page-title" class="col-sm-12"><h1>{{page_title}}</h1></div>
{{#if sidebar}}
  <div id="archives" class="col-sm-8">
    <table class="table table-borderd">
      <tbody id="title-list"></tbody>
    </table>
  </div>
  <div id="sidebar" class="col-sm-4">{{partial 'sidebar-vert' this}}</div>
{{else}}
  <div class="col-sm-12">
    <table class="table table-borderd">
      <tbody id="title-list"></tbody>
    </table>
    {{#if collapsed}}{{partial 'sidebar-horz' this}}{{/if}}
  </div>
{{/if}}
