<body {{#if collapse_sidebar }}class="collapse-sidebar sidebar-footer"{{/if}}>
  <div id="main">
    <div id="content">
      {{{ content }}}
    </div>
  </div>
  <footer role="contentinfo"></footer>
</body>
