{{#if sidebar}}
  <div class="col-sm-8">
    <div id="page-title"><h1>{{page_title}}</h1></div>
    <div id="excerpt-list"></div>
  </div>
  <div id="sidebar" class="col-sm-4">{{partial 'sidebar-vert' this}}</div>
{{else}}
  <div class="col-sm-12">
    <div id="excerpt-list"></div>
    {{#if collapsed}}{{partial 'sidebar-horz' this}}{{/if}}
  </div>
{{/if}}
