/* Bootstrap CSS */
#page-title {margin-bottom: 20px;}
#excerpt {
  padding-bottom: 15px;
  border-bottom: 1px dashed #eee;
  margin-bottom: 20px;
}

#excerpt-title {margin-top: 10px;}
#excerpt-content {margin-bottom: 10px;}
#excerpt-thumbnail {margin-bottom: 10px;}
#archives {padding: 27px 20px 18px 0;}
#sidebar { margin-left: 0px;}
/*.collapsing {width: 0;}*/

#sidebar h3 {
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/* Sticky Footer */
#wrap {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
}

#site-footer {
    background-color: #F5F5F5;
    height: 60px;
}

#site-footer p {margin: 20px 0;}

/* Other */
.tag {margin-bottom: 10px;}
.tag:hover {background-color: #428BCA;}
.cushion {margin-bottom: 10px;}
.list-recent {margin-top: -10px;}
.list-recent li {
  padding: 7px 0;
  border-bottom: 1px solid #eee;
}

.list-popular {margin-top: -10px;}
.list-popular li {
  padding: 7px 0;
  border-bottom: 1px solid #eee;
}

.navbar .navbar-form {
  padding: 0 15px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.numeric {
  text-align: right;
}

.dl-excerpt {
  margin-bottom: 0;
}
.dl-excerpt dt {
  float: left;
  width: 100px;
  clear: left;
  text-align: right;
  white-space: nowrap;
}
.dl-excerpt dd {
  margin-left: 110px;
}
.dl-excerpt dd:before,
.dl-excerpt dd:after {
  display: table;
  content: " ";
}
.dl-excerpt dd:after {
  clear: both;
}
.dl-excerpt dd:before,
.dl-excerpt dd:after {
  display: table;
  content: " ";
}
.dl-excerpt dd:after {
  clear: both;
}

.gallery {padding-bottom: 1em;}
.active-nav {color: #555555 !important;}
.progress .bar-muted {opacity: 0.2 !important;}
.progress .bar-transparent {opacity: 0 !important;}
.btn-padleft {margin-left: 50px !important;}
.leaflet-control-geosearch {display: none;}

.collapse.width {
  height: auto;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
/*
Chart CSS

Minimum height and width is a good idea to prevent negative SVG
dimensions... For example width should be =< margin.left + margin.right
+ 1, of course 1 pixel for the entire chart would not be very useful,
BUT should not have errors
*/
body {overflow-x: hidden !important;}

.chart {
  height: 350px;
  margin-left: -11px;
  margin-right: -90px;
}

g.nv-group.nv-series-0 {fill-opacity: 0 !important;}
g.nv-group.nv-series-1 {overflow: hidden;}

#map {
  height: 400px;
  width: 750px;
  position: relative;
}

/* NVD3 CSS */
.nvtooltip {
  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;

  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;

  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.nvtooltip h3 {
  padding: 4px 14px;
  font-size: 15px;
  line-height: 12px;
  font-weight: normal;
}
