// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

/* Solarized colors */
$base03:          #002b36; //darkest blue
$base02:          #073642; //dark blue
$base01:          #586e75; //darkest gray
$base00:          #657b83; //dark gray
$base0:           #839496; //medium gray
$base1:           #93a1a1; //medium light gray
$base2:           #eee8d5; //cream
$base3:           #fdf6e3; //white
$solar-yellow:    #b58900;
$solar-orange:    #cb4b16;
$solar-red:       #dc322f;
$solar-magenta:   #d33682;
$solar-violet:    #6c71c4;
$solar-blue:      #268bd2;
$solar-cyan:      #2aa198;
$solar-green:     #859900;

/* Other colors */
$black:			#000;
$white:			#fff;
$darkest-blue:	$base03;
$dark-blue:		$base02;
$darkest-gray:	$base01;
$dark-gray:		$base00;
$medium-gray:	$base0;
$light-gray:	$base1;
$cream:			$base2;
$solar-white:	$base3;

// Main Link Colors
$link-color: darken(mix($solar-orange, $solar-yellow, 30), 10);
$link-color-hover: darken($solar-blue, 5);
$link-color-visited: mix($solar-yellow, $white, 60);
$link-color-active: adjust-color($link-color, $lightness: -15);

// Main Section Colors
$main-bg: $solar-yellow;
$page-bg: $cream;
$article-border: $solar-magenta;

$header-bg: darken($main-bg, 0);
$header-border: lighten($solar-orange, 15);
$title-color: darken($main-bg, 15);
$subtitle-color: darken($title-color, 10);

$text-color: $cream;
$text-color-light: mix($text-color, $main-bg, 50);
$text-color-dark: darken($header-bg, 10);
$type-border: $solar-magenta;

/* Navigation */
$nav-bg: mix($solar-orange, $main-bg, 65);
$nav-bg-front: linear-gradient(lighten($nav-bg, 5), $nav-bg, darken($nav-bg, 5));
$nav-bg-back: linear-gradient(lighten($nav-bg, 5), $nav-bg, darken($nav-bg, 5));
$nav-color: darken($darkest-gray, 20);
$nav-color-hover: lighten($nav-bg, 25);
$nav-placeholder: $solar-magenta;
$nav-border: darken($nav-bg, 10);
$nav-border-top: lighten($nav-bg, 15);
$nav-border-bottom: darken($nav-bg, 25);
$nav-border-left: darken($nav-bg, 11);
$nav-border-right: lighten($nav-bg, 7);

/* Sidebar colors */
$sidebar-bg: mix($main-bg, $white, 60);
$sidebar-link-color: $link-color;
$sidebar-link-color-hover: $link-color-hover;
$sidebar-link-color-active: $link-color-active;
$sidebar-color: darken($main-bg, 15);
$sidebar-border: darken($sidebar-bg, 7);
$sidebar-border-hover: darken($sidebar-bg, 7);
$sidebar-link-color-subdued: lighten($sidebar-link-color, 5);
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover;
$twitter-status-link: darken($sidebar-link-color, 5);

/* Footer colors */
$footer-color: $nav-bg;
$footer-color-hover: $link-color-hover;
$footer-bg: $solar-white;
$footer-bg-front: linear-gradient($footer-bg, $page-bg);
$footer-bg-back: linear-gradient($footer-bg, $page-bg);
$footer-border-top: darken($solar-white, 15);
$footer-border-bottom: darken($solar-white, 15);
$footer-link-color: darken($main-bg, 15);
$footer-link-color-hover: $link-color-hover;
$page-border-bottom: darken($footer-bg, 5);

/* To use the light Solarized highlighting theme uncomment the following line */
$solarized: light;

/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
